* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main.module.css */

#header {
  background-color: black;
  padding: 10px 20px;
  height: 75px;
}

.navLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  
}

.navLinks li {
  margin-right: 20px;
}

.navLinks li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  font-size: large;
  transition: color 0.3s ease;
}

.navLinks li a:hover {
  color: limegreen;
}

.active {
  color: limegreen;
}

.name {
  margin: 0;
  color: white;
  margin-top: 10px;
}

/* style for about us */

h1 {
  margin-top: 3px;
  color: #66bb00;
}

p {
  margin-top: 15px;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: black;
}

.description {
  padding: 20px;
  color: white;
  text-align: center;
}

.imageContainer {
  margin-top: 20px;
}

.profileImage {
  width: 100%;
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

/* Style the download button */
button {
  margin-top: 20px;
  background-color: #77dd00;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

/* style for skills portion */

#skillsContainer {
  padding: 20px;
  background-color: #000;
}

.heading {
  text-align: center;
  color: #77dd00;
  margin-bottom: 40px;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.skillItem {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.skillItem img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
}

/* style for projects portion */

.projectContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #000;
}

.projectDescription {
  color: #66bb00;
  margin-top: 20px;
  text-align: center;
  background-color: #000;
}

.projectImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.imageContainer {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  background-color: #000
}

.imageContainer img {
  width: 100%;
  height: auto;
}

/* contact me style */

#contactContainer {
  padding: 20px;
  background-color: #000;
}

.contactInfo {
  margin-top: 20px;
}

.contactInfo p {
  margin-bottom: 10px;
  color: #66bb00;
  text-align: center;
}

/* style for footer */

.footer {
  background-color: #000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialIcons a {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
  text-decoration: none;
}

.socialIcons a:hover {
  color: #77dd00;
}

#myproject {
  background-color: #000;
  color: #66bb00;
  margin-bottom: 2px;
  text-align: center;
}

/* Media Queries for responsiveness */

@media only screen and (min-width: 768px) {
  .navLinks {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1024px) {
  .aboutContainer {
    flex-direction: row;
  }

  .description {
    flex: 1;
    padding: 0 20px;
    text-align: left;
  }

  .imageContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
  }

  .profileImage {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

  .heading {
    margin-bottom: 80px;
    /* margin-top: 20px; */
  }
}
/* #projects{
  background-color: #000;
} */